.About {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 200px;
}

.hey { 
    width: 900px;
    height: 600px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.hey--2 {
    width: 900px;
    height: 600px;
    border: 1px solid #b5b5b5;
    opacity: 0.6;
    position: absolute;
    transform: translate(15px, -15px);
}